<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <span>
                    BookCar Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a asp-action="Index" asp-controller="Car" asp-area="Admin" class="waves-effect"><i class="fas fa-car"></i><span>Araba</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Feature" asp-area="Admin" class="waves-effect"><i class="fas fa-bus"></i><span>Araba Özellikleri</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Brand" asp-area="Admin" class="waves-effect"><i class="fas fa-business-time"></i><span>Markalar</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Banner" asp-area="Admin" class="waves-effect"><i class="fas fa-broom"></i><span>Banner</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="About" asp-area="Admin" class="waves-effect"><i class="fas fa-info"></i><span>Hakkımızda</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Author" asp-area="Admin" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Yazarlar</span></a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Blog" asp-area="Admin" class="waves-effect"><i class="fas fa-certificate"></i><span>Blog</span></a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Category" asp-area="Admin" class="waves-effect"><i class="fas fa-blog "></i><span>Blog Kategorileri</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Pricing" asp-area="Admin" class="waves-effect"><i class="fas fa-money-bill-alt "></i><span>Ödeme Türleri</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Comment" asp-area="Admin" class="waves-effect"><i class="fas fa-comment "></i><span>Yorumlar</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Contact" asp-area="Admin" class="waves-effect"><i class="fas fa-phone"></i><span>İletişim</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="FooterAddress" asp-area="Admin" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>Alt Adres</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Location" asp-area="Admin" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Lokasyonlar</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Service" asp-area="Admin" class="waves-effect"><i class="fas fa-hands"></i><span>Hizmetler</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="SocialMedia" asp-area="Admin" class="waves-effect"><i class="fab fa-instagram"></i><span>Sosyal Medya</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Testimonial" asp-area="Admin" class="waves-effect"><i class="fas fa-praying-hands"></i><span>Referanslar</span></a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Default" asp-area="" class="waves-effect"><i class="fas fa-angle-double-right"></i><span>Siteye Git</span></a>
                </li>



            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>